{require_otp_vsn, "17"}.

{sub_dirs, ["deps", "deps/loom/simple_ne"]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}}},
  {erl_sshd, ".*", {git, "https://github.com/ivanos/erl_sshd.git",
                    {branch, 'master'}}},
  {dobby, ".*", {git, "https://github.com/ivanos/dobby_core_lib.git",
                 {branch,"master"}}},
  {dobby_rest,  ".*", {git, "https://github.com/ivanos/dobby_rest_lib.git",
                       {branch,"master"}}},
  {dobby_ui, "", {git, "https://github.com/ivanos/dobby_ui_lib.git",
                  {branch, "devel"}}, [raw]},
  {lucet, "", {git, "https://github.com/ivanos/lucet_core_lib.git",
               {branch, "master"}}},
  {leviathan_lib, "", {git, "https://github.com/ivanos/leviathan_lib.git",
              {branch, "master"}}},
  {leviathan_rest, "", {git, "https://github.com/ivanos/leviathan_rest_lib.git",
                        {branch, "master"}}}]
 }.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.

{pre_hooks, [{'get-deps', "sh -c 'npm --version >> /dev/null"
              " || (echo \"npm not installed\"; exit 1)'"}]}.

{post_hooks, [{'get-deps', "sh -c 'cd deps/dobby_ui && npm install && cd -'"},
              {compile,
               "sh -c 'cp -r deps/dobby_ui/www deps/dobby_rest/priv/static'"}]}.
