{require_otp_vsn, "17"}.

{sub_dirs, ["deps"]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}}},
  {erl_sshd, ".*", {git, "https://github.com/ivanos/erl_sshd.git",
                    {branch, 'master'}}},
  {lager_websocket, ".*", {git, "https://github.com/ivanos/lager_websocket.git",
                 {branch,"master"}}},
  {dobby, ".*", {git, "https://github.com/ivanos/dobby_core_lib.git",
                 {branch,"master"}}},
  {lucet, "", {git, "https://github.com/ivanos/lucet_core_lib.git",
               {branch, "master"}}},
  {weave, "", {git, "https://github.com/ivanos/weave_core_lib.git",
               {branch, "master"}}},
  {dobby_rest,  ".*", {git, "https://github.com/ivanos/dobby_rest_lib.git",
                       {branch,"master"}}},
  {dobby_ui, "", {git, "https://github.com/ivanos/dobby_ui_lib.git",
                  {branch, "master"}}, [raw]},
  {ivanos_rest,  ".*", {git, "https://github.com/ivanos/ivanos_rest_lib.git",
                       {branch,"master"}}},
  {ivanos_ui, "", {git, "https://github.com/ivanos/ivanos_ui_lib.git",
                  {branch, "master"}}, [raw]},
  {leviathan_lib, "", {git, "https://github.com/ivanos/leviathan_lib.git",
              {branch, "master"}}},
  {leviathan_rest, "", {git, "https://github.com/ivanos/leviathan_rest_lib.git",
                        {branch, "master"}}}]
 }.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.

{post_hooks, [
              {compile, "sh -c 'cp -r deps/dobby_ui/www deps/dobby_rest/priv/static'"},
              {compile, "sh -c 'cp -r deps/ivanos_ui/www deps/ivanos_rest/priv/static'"}
             ]}.
