{lib_dirs, ["deps"]}.

{overlay_vars, "../config/overlay_vars.config"}.

{overlay, [
           {template, "../config/sys.config.template", "releases/{{release_version}}/sys.config"},
           {template, "../config/vm.args.template", "releases/{{release_version}}/vm.args"}
          ]}.


{release, {leviathan, "0.1"},
 [leviathan,
  mnesia]}.
